.git/
.idea/
node_modules/
app_frontend/build/
app_frontend/bower_components/

*.log
*build/
*dist/
*cache/

#___________________________________CMS files
cadmin/
config/
core/
core_modules/
#customizing/
feed/
installer/
lang/
lib/
media/
model/
#modules/
#themes/
tmp/
webcam/

#___________________________________Symfony files
app/bootstrap*
app/cache/*
app/config/deploy.rb
app/config/parameters.yml
app/logs/*
app/phpunit.xml

/bin/*
build/*
/vendor/

/web/bundles/
/web/js/*
/web/css/*
/web/images/*
/web/fonts/*
/web/assetic/*
/web/source-maps/*
/web/music/*