doctype html
html(lang="en")
  include includes/head
  body
    #header
      include includes/header
    #container
      include content/index
    #footer
      include includes/footer
    script(src="//localhost:35729/livereload.js")



