h1 Content
.canvas-container
  canvas.canvas-elem#canvas-layer1(height='800' width='600')
  canvas.canvas-elem#canvas-layer2
  canvas.canvas-elem#canvas-layer3
  canvas.canvas-elem#canvas-layer4
  canvas.canvas-elem#canvas-layer5.
    obnovite brouzer
  #canvas-controls
  script(type='text/javascript').
    // the way to write JS